.App {
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.button-container {
  display: flex;
  justify-content:center;
  align-items: center;
  /* Adjust this margin as needed */
}
.appbutton{

}

